body {
    background-image: src(book.jpg);
  
    height: 100%;
  
    /* Image will cover all page  */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  /* Book Library Text */
  #header {
    color: white;
    font-size: 50px;
    text-shadow: 4px 4px 5px black;
  }
  
  /* to put a container to the center */
  .center {
    margin: auto;
    margin-top: 200px;
  }
  
  /* Result of search */
  .book-list {
    margin-top: 50px;
    visibility: hidden;
  }
  